 @import 'bootstrap/dist/css/bootstrap.min.css';  /*imported reactstrap -Miguel*/

/* added some styling to the table and the table datas - Miguel*/
.table{
  text-align: center;
}

.table td {
  padding: 12px;
}















/* Dont need this down here just adding this for future reference normally when you start a react app you want to delete all this - Miguel */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
} */
