@import 'bootstrap/dist/css/bootstrap.min.css';  /*imported reactstrap -Miguel*/

/* added some styling to the table and the table datas - Miguel*/
.table{
  text-align: center;
}

.table td {
  padding: 12px;
}

.keyFindingsAdmin{
  width: 700px;
}

/* julie's code for the nav bar */
.navbar {
  background-color: #2257FD;
  padding: 25px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #ccc;
}


.logo span {
  color: white; /* Change to white */
  font-weight: bold;
}

.logo img {
  width: 30px;
  height: auto;
  align-items: center;
  margin-bottom: 5px;
}

.logo-text {
  font-size: 21px; /* Change the font size as needed */
}





/* Julie's code for table */
.pop-out-table {
  border-collapse: collapse;
  width: 100%;
}
.keyFindings {
  width: 1100px;
}
.pop-out-table th,
.pop-out-table td {
  padding: 8px;
  text-align: left;
}

.pop-out-table th {
  background-color: #f2f2f2;
}

.pop-out-table tbody tr:hover {
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pop-out-table tbody tr {
  transition: box-shadow 0.3s ease;
}

/* Darren's Code for search bar */
.form-control {
  width: 800px;
  margin-top: 20px;
}



